.folder-item-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;
}

p.folder-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 10rem;
}
